p {
    color: rgb(0, 15, 231);
}

h1 {
    color: crimson;
    background-color: blue;
    font-size: 60px;
    text-align: center;
    font-family: fantasy;
}

#title {
    background-color: crimson;
}

.blackborder {
    border: 10px solid black;
}

.redfont {
    color: crimson;
    background-color: yellow;
}

#navbar {
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fancyfont {
    font-family: cursive;
}

#anuddafont {
    font-family: fantasy;
}

img {
    width: 100px;
}

.redbg {
    background-color: red;
    text-align: center;
}

#list {
    background-color: blue;
    color: white;
}